WEBSOCKET_URL="{{ websocket_url }}" #This is the url to the indexer
BOUNTY_STORAGE_DIR="{{ bounty_storage_dir }}"
UNIVERSAL_TIMEOUT=30000 # 30 seconds
ACCOUNT_ID="{{ account_id }}"
NODE_NAME={{ node_name }}
NODE_ID="{{ node_name }}.node.$ACCOUNT_ID"
ACCEPT_NETWORK_WORKLOADS=true
ACCEPT_GPU_WORKLOADS=false
COORDINATOR_CONTRACT_ID="{{ coordinator_id }}"
DOCKER_CONTAINER_NAME_FORMAT="bounty-$BOUNTY_ID"
DOCKER_IMAGE_NAME_FORMAT="$BOUNTY_ID"
NEAR_NETWORK_ID="testnet"
STORAGE_DOCKER_PRUNE_SYSTEM_EACH_RUN="false"
STORAGE_DOCKER_PRUNE_IMAGES_EACH_RUN="false"
STORAGE_DOCKER_REMOVE_EXECUTION_CONTAINER_EACH_RUN="true"
STORAGE_DOCKER_REMOVE_EXECUTION_IMAGE_EACH_RUN="true"